body{
    margin:0;
    padding: 0;
    background: url(images/room.jpg) no-repeat center fixed;
    background-size: cover;
    font-family: sans-serif;
    
    
    
}
.avatar{
    width: 90px;
    height: 90px;
    position: absolute;
    top: -45px;
    left: calc(50% - 45px);
}

.loginbox{
    width: 280px;
    height: 400px;
    background-color:#000;
    color: #ffff;
    top:40%;
    left: 15%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    border-radius: 5px;
    padding: 50px 20px;
    
}
.loginbox h1{
    text-align: center;
}
.loginbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}
.loginbox input{
    width: 100%;
    margin-bottom: 20px;
 }
 .loginbox input[type="text"], input[type="password"]{
     border:none;
     border-bottom: 1px solid #fff;
     background: transparent;
     outline: none;
     height: 40px;
     color: #fff;
     font-size: 16px;
 }
 .loginbox input[type="submit"]{
     border: none;
     outline: none;
     height: 40px;
     background: #fb2525;
     color: #fff;
     font-size: 18px;
     border-radius: 20px;
}
.loginbox input[type="submit"]:hover{
    cursor: pointer;
    background: #ff3300;
    color: #000;
}
.loginbox a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
}
.loginbox a:hover{
    color:#ffc107;
}
.table table-striped table-bordered table-condensed table-hover{
    position: relative;
    overflow: auto;
    height: 440px;
    background-color: white;
}